
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  width: 100%;
  height: 100%;
}


.login-container {
  background-image: url('/static/images/still.png'); /* first frame */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  background-size: auto; 
  background-position: center; 
  background-repeat: repeat; 
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(30px);
  padding: 30px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
}


.login-input::placeholder {
  color: rgb(255, 255, 255); 
  opacity: 0.7; 
}


.login-header {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}


.input-container {
  position: relative;
  margin-bottom: 15px;
}


.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 16px;
}


.login-input {
  width: 80%;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
}


.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #265529;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #2e7d32;
}


.login-footer {
  margin-top: 15px;
  color: white;
}

.register-link {
  color: #00c6ff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}